.button {

  background-color: #8a8784;;
  color: black;
  width: 190px;
  height: 45px;
  margin-left: 850px;
  border-color: black;
  border-width: 2.5px;;
}

div img {
    float: left;
}
div h4 {
    float: right;

}